{% extends "demo/base.html" %}
 
            {% block sidebar %}
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start ">
                            <a href="{% url 'doodle_cc:login_user' %}" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title"> Dashboard </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start  ">
                            <a href="{% url 'doodle_cc:invite_people_poll' %}" class="nav-link nav-toggle">
                                <i class="icon-bar-chart"></i>
                                <span class="title"> Create new Poll </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start active open">
                            <a href="{% url 'doodle_cc:invite_people_conf' %}" class="nav-link nav-toggle">
                                <i class="icon-bulb"></i>
                                <span class="title"> Create new Conference </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="{% url 'doodle_cc:create_group' %}" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title"> Create new Group </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endblock %}


{% block title %} Conference | Planner App | CCCF | TIFR {% endblock %}

{% block pagetitle %} Send conference invites  {% endblock %}

{% block breadcrumb %}
<li>
    <a href="{% url 'doodle_cc:login_user' %}">Dashboard</a>
    <i class="fa fa-circle"></i>
</li>
<li>
    <span class="active">Conference</span>
</li>
{% endblock %}

{% block content %}

<!-- <form action="{% url 'doodle_cc:login' %}" method="post"> -->

        <link href="../../../static/demo/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="../../../static/demo/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="../../../static/demo/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="../../../static/demo/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<form action="{% url 'doodle_cc:poll_options' %}" method="post" class="form-horizontal" name="acad" enctype="multipart/form-data" onSubmit="return validate()"  >
{% csrf_token %}

    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption"> 
                Step 1: Initialize conference 
            </div> 
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Conference Title <font color="red">*</font> </label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Conference Title" type="text" id="conf_title" name="conf_title" required  >
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Location <font color="red">*</font> </label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Location" type="text" id="loc" name="loc" required  >
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Note </label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Add note" type="text" id="note" name="note" required  >
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Date  <font color="red">*</font> </label>
                        <div class="col-md-8">

                            <div class="row">

                                <div class="form-group"> 
                                    <label class="control-label col-md-2"> From </label>
                                    <div class="col-md-4">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="-60d" >
                                            <input class="form-control" namtype="text" name="lfrom" id="lfrom" required onChange="goat1();" >
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o"></i>
                                            <input class="form-control timepicker timepicker-default" type="text" name="time_lfrom" id="time_lfrom" required > 
                                        </div>
                                    </div>

                                </div>



                            </div>

                            <div class="row"> 
                                <div class="form-group">
                                    <label class="control-label col-md-2"> To </label>
                                    <div class="col-md-4">
                                        <div class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="-60d" >
                                            <input class="form-control" type="text" name="lto" id="lto" required onChange="goat2();" >
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o"></i>
                                            <input class="form-control timepicker timepicker-default" type="text" name="time_lto" id="time_lto" required > </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div> 





                <div class="row" align="center" >
                    <button type="submit" class="btn yellow" name="submit" id="submit2" value="submit" > Invite people </button>
                </div>
            </div>




            </div>
        </div>

    </div>
</form>



























{% endblock %}


{% block end_attach %}

    
<script type="text/javascript">
    $(document).on("keypress", ":input:not(select)", function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
</script>


<script type="text/javascript">
    function goat1(){
        var x11 = document.getElementById("lfrom").value;
        return x11;
    }
</script>


<script type="text/javascript">
    function goat2(){
        x1= goat1(); //from date 
        var yourDate1 = new Date(x1.split('/')[2],x1.split('/')[1] -1 ,x1.split('/')[0]);
        
        var x2 = document.getElementById("lto").value;
        var yourDate2 = new Date(x2.split('/')[2],x2.split('/')[1]-1,x2.split('/')[0]);
        
        console.log( yourDate1.getDay() );
        console.log( yourDate2.getDay() );

        function parseDate(str) {
            var mdy = str.split('/');
            var temp = mdy[0];
            mdy[0]=mdy[1];
            mdy[1]=temp;
            return new Date(mdy[2], mdy[0]-1, mdy[1]);
        }

        function daydiff(first, second) {
            return Math.round((second-first)/(1000*60*60*24));
        }
        var dff=daydiff(parseDate(x1), parseDate(x2));

        console.log(dff+">>datediff");
            
          

        if(dff< 0 ){
            
            // $('#lto').datepicker('setDate', null);
            $('#lfrom').datepicker('setDate', null);
            

            alert("End date should not before leave start date");
            // window.location.reload();
        }

    }
        
</script>


<script>
    function validate(){
        var Seminar = document.forms["acad"]["Seminar"].value;
        var Series = document.forms["acad"]["Series"].value;
        //var Title = document.forms["acad"]["Title"].value;
         console.log(Series);
         console.log(Seminar);

        var errors = [];
            
        if (Seminar == "yes") {
            if(Series == ""){
                errors[errors.length] = " Please enter Series.";
            }
        }



        


        var lfrom = document.forms["acad"]["lfrom"].value;
        var lto = document.forms["acad"]["lto"].value;


        var x1=lfrom;


        var yourDate1 = new Date(x1.split('/')[2],x1.split('/')[1] -1 ,x1.split('/')[0]);
                                                            
        var x2 = lto;
        var yourDate2 = new Date(x2.split('/')[2],x2.split('/')[1]-1,x2.split('/')[0]);
        
        console.log( yourDate1.getDay() );
        console.log( yourDate2.getDay() );

        function parseDate(str) {
            var mdy = str.split('/');
            var temp = mdy[0];
            mdy[0]=mdy[1];
            mdy[1]=temp;
            return new Date(mdy[2], mdy[0]-1, mdy[1]);
        }

        function daydiff(first, second) {
            return Math.round((second-first)/(1000*60*60*24));
        }
        var dff=daydiff(parseDate(x1), parseDate(x2));

        console.log(dff+">>datediff");
            
          

        if(dff< 0 ){
            
            // $('#lto').datepicker('setDate', null);
            $('#lfrom').datepicker('setDate', null);
            

            // alert("End date should not before leave start date");
            errors[errors.length] = "End date should not before leave start date ";
            // window.location.reload();
        }









        var hono = document.forms["acad"]["hono"].value;
        var diem = document.forms["acad"]["diem"].value;
    
        
        if(hono == 'yes'){
            if ( ( diem != 'Rs.500 for Post Doc Students' ) && ( diem != 'Rs.300 for Students' ) && ( diem != 'Rs.800 for Professors' )&& (diem != 'Other' ) )
            {
                errors[errors.length] = "Please enter Per-diem ";
            }
        }

        var travel = document.forms["acad"]["travel"].value;
        var apoxcost = document.forms["acad"]["apoxcost"].value;
        console.log(travel);

        if (travel == "yes") {
            if(apoxcost == ""){
                errors[errors.length] = "Please enter approximate cost under travel allowance.";
            }
        }

        var acco_req = document.forms["acad"]["acco_req"].value;
        var acpl = document.forms["acad"]["acpl"].value;
        // var acc_amount = document.forms["acad"]["acc_amount"].value;

        if (acco_req == "yes") {
           
            if (acpl != "guesthouse" && acpl != "External" ) {
                errors[errors.length] = "Please select type of accommodation.";
                 
            
            }
            
        }



        if (errors.length > 0) 
        {
            reportErrors(errors);
            return false;
        }else{
        // alert('mail will be sent to the authorised person');
        
        }
        return true;
        
    }

    function reportErrors(errors){
        var msg = "Please Enter Valid Data...\n";
        for (var i = 0; i<errors.length; i++) {
            var numError = i + 1;
            msg += "\n" + numError + ". " + errors[i];
        }
        alert(msg);
    }
</script> 


<script src="../../../static/demo/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="../../../static/demo/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../../../static/demo/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="../../../static/demo/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="../../../static/demo/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="../../../static/demo/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
{% endblock %}