{% extends "demo/base.html" %}
 
{% block title %} Dashboard | Planner App | CCCF | TIFR {% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <!-- <span data-counter="counterup" data-value="7800">0</span> -->
                        <!-- <small class="font-green-sharp">$</small> -->
                        POLL
                    </h3>
                    <small>&nbsp;</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>

        </div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <!-- <span data-counter="counterup" data-value="476"></span> -->
                        CONFERENCE
                    </h3>
                    <small>&nbsp;</small>
                </div>
                <div class="icon">
                    <i class="icon-basket"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <!-- <span data-counter="counterup" data-value="276"></span> -->
                    	GROUPS
                    </h3>
                    <small>&nbsp;</small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>

        </div>
    </div>


</div>

{% endblock %}