
	{% extends "demo/base.html" %}
 
            {% block sidebar %}
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start ">
                            <a href="{% url 'doodle_cc:login_user' %}" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title"> Dashboard </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="{% url 'doodle_cc:invite_people_poll' %}" class="nav-link nav-toggle">
                                <i class="icon-bar-chart"></i>
                                <span class="title"> Create new Poll </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <!-- <a href="{% url 'doodle_cc:second' %}" class="nav-link nav-toggle"> -->
                            <a href="{% url 'doodle_cc:invite_people_conf' %}" class="nav-link nav-toggle">
                                <i class="icon-bulb"></i>
                                <span class="title"> Create new Conference </span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start active open ">
                            <!-- <a href="{% url 'doodle_cc:second' %}" class="nav-link nav-toggle"> -->
                            <a href="{% url 'doodle_cc:create_group' %}" class="nav-link nav-toggle">
                                <i class="icon-bulb"></i>
                                <span class="title"> Create new Group </span>
                                <span class="selected"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            {% endblock %}


{% block title %} Poll | Planner App | CCCF | TIFR {% endblock %}

{% block pagetitle %} Add new Confence  {% endblock %}

{% block breadcrumb %}
<li>
    <a href="{% url 'doodle_cc:login_user' %}">Dashboard</a>
    <i class="fa fa-circle"></i>
</li>
<li>
    <span class="active">Conference</span>
</li>
{% endblock %}

{% block content %}

<!-- <form action="{% url 'doodle_cc:login' %}" method="post"> -->

<form action="{% url 'doodle_cc:poll_options' %}" method="post" class="form-horizontal" name="acad" enctype="multipart/form-data" onSubmit="return validate()"  >
{% csrf_token %}

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"> 
                Create email-id group
            </div> 
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3"> Group Name <font color="red">*</font> </label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Type the active open " type="text" id="question" name="question" required  >
                        </div>
                    </div>
                </div> 



                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">Enter all the email-id's <font color="red">*</font> </label>
                        {% include "demo/tag_file.html" %}
                    </div>
                </div> 

                <div class="row" align="center" >
                    <button type="submit" class="btn blue" name="submit" id="submit2" value="submit" > Add group </button>
                </div>
            </div>




            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    
// $(document).ready(function() {
//   $(window).keydown(function(event){
//     if(event.keyCode == 13) {
//       event.preventDefault();
//       return false;
//     }
//   });
// });


$(document).on("keypress", ":input:not(select)", function(event) {
    if (event.keyCode == 13) {
        event.preventDefault();
    }
});

</script>





















{% endblock %}