
    <meta name="robots" content="index, follow" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="../../../static/demo/assets/global/bootstrap-tags/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/demo/assets/global/bootstrap-tags/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../static/demo/assets/global/bootstrap-tags/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="../../../static/demo/assets/global/bootstrap-tags/github.css">
    <link rel="stylesheet" href="../../../static/demo/assets/global/bootstrap-tags/app.css">
    <div class="container">
        <div class="example example_multivalue">
            <p>
                Type your options and press enter once you done typing each option. Eg. <code>CCCF</code>
            </p>
            <!-- <code>&lt;select multiple /&gt;</code> -->
            <div class="row bs-example">
                <select name="tag_name" id="tag_name" multiple data-role="tagsinput" onkeypress="return event.keyCode != 13;" >
                </select>
            </div>
        </div>
    </div>
    <script src="../../../static/demo/assets/global/bootstrap-tags/jquery.min.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/bootstrap.min.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/rainbow.min.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/generic.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/html.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/javascript.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/app.js"></script>
    <script src="../../../static/demo/assets/global/bootstrap-tags/app_bs3.js"></script>

